@use '../theme' as *;

.container {
  height: 100%;
  overflow: auto;
}

.settings {
  width: 400px;
  margin: 0 auto;
  padding: #{$padding-x-s}px 0;
  :global(.luna-setting-item) {
    padding-left: 0;
    padding-right: 0;
  }
}
