.path {
  flex-grow: 1;
  input {
    width: 100%;
  }
}

.blink {
  span {
    animation: blinkColor 1s infinite;
  }
}

@keyframes blinkColor {
  0%,
  100% {
    color: var(--color-text);
  }
  50% {
    color: var(--color-primary);
  }
}
