.luna-data-grid {
  td {
    user-select: none;
  }
}

@each $class in (':root', '.-theme-with-dark-background') {
  #{$class} {
    .luna-data-grid-data-container {
      .luna-data-grid-node.luna-data-grid-selected,
      .luna-data-grid-node.luna-data-grid-selectable:hover {
        background-color: if($class == ':root', #ddd, #393939);
      }
      tr:nth-child(even) {
        background-color: if($class == ':root', #fafafa, #1f262c);
      }
    }
    .luna-data-grid:focus {
      .luna-data-grid-node.luna-data-grid-selectable.luna-data-grid-selected {
        color: #fff;
        background-color: var(--color-primary);
      }
    }
  }
}
